# =========================
# DATA (CRITICAL)
# =========================
data/
*.zip
*.tar
*.gz

# =========================
# MODEL FILES
# =========================
*.pth
*.pt
*.ckpt
*.safetensors

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# =========================
# ENV / VIRTUAL ENV
# =========================
.env
.venv/
venv/
env/

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# LOGS
# =========================
logs/
*.log

# =========================
# SYSTEM FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# HUGGINGFACE CACHE
# =========================
.cache/